<!DOCTYPE html>
<html>

<head>
	<div id="head"></div>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Filmes</title>
</head>

<body class="black">
	<div id="header"></div>
	<div class="card-panel black">
		<div class="container">
			<div id="filmes"></div>
			<h1 class="white-text">Filmes</h1>
			<img class="responsive-img center-align" src="https://br.web.img3.acsta.net/newsv7/18/07/06/19/45/2874357.png" alt="">
			<p class="card-panel hoverable red lighten-1 white-text">
				Esse Filme é muito bom pqp
			</p>
			<img class="responsive-img" src="https://br.web.img3.acsta.net/newsv7/18/07/06/19/45/2874357.png" alt="">
			<p class="card-panel hoverable red lighten-1 white-text">
				Esse Filme é muito bom pqp
			</p>
			<img class="responsive-img" src="https://br.web.img3.acsta.net/newsv7/18/07/06/19/45/2874357.png" alt="">
			<p class="card-panel hoverable red lighten-1 white-text">
				Esse Filme é muito bom pqp
			</p>
		</div>
	</div>
</body>
<script src="js/header.js"></script>
</html>