<!DOCTYPE html>
<html>

<head>
	<div id="head"></div>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Filmes</title>
</head>

<body class="black">
	<div id="header"></div>
	<div class="container">
		<h1 class="white-text">Filmes</h1>
		<div class="card-panel white">
			<p class="white-text card-panel deep-orange accent-3 flow-text">Pink Floyd - The Wall</p>
			<img class="responsive-img center-align" src="../assets/images/f-pinkfloyd.jpg" alt="">
			<div class="card-panel deep-orange white-text">
				Descrição
			</div>
		</div>
		<div class="card-panel white">
			<p class="white-text card-panel deep-orange accent-3 flow-text">Laranja Mecânica</p>
			<img class="responsive-img center-align" src="../assets/images/f-laranjam.jpg" alt="">
			<div class="card-panel deep-orange white-text">
				Descrição
			</div>
		</div>
		<div class="card-panel white">
			<p class="white-text card-panel deep-orange accent-3 flow-text">V de Vingança</p>
			<img class="responsive-img center-align" src="../assets/images/f-vendetta.jpg" alt="">
			<div class="card-panel deep-orange white-text">
				Descrição
			</div>
		</div>
		<div class="card-panel white">
			<p class="white-text card-panel deep-orange accent-3 flow-text">Réquiem para um sonho</p>
			<img class="responsive-img center-align" src="../assets/images/f-requiem.jpg" alt="">
			<div class="card-panel deep-orange white-text">
				Descrição
			</div>
		</div>
		<div class="card-panel white">
			<p class="white-text card-panel deep-orange accent-3 flow-text">Matrix</p>
			<img class="responsive-img center-align" src="../assets/images/f-matrix.jpg" alt="">
			<div class="card-panel deep-orange white-text">
				Descrição
			</div>
		</div>
		<div class="card-panel white">
			<p class="white-text card-panel deep-orange accent-3 flow-text">Cities of The Last Things</p>
			<img class="responsive-img center-align" src="../assets/images/f-cities.jpg" alt="">
			<div class="card-panel deep-orange white-text">
				Descrição
			</div>
		</div>
		<div class="card-panel white">
			<p class="white-text card-panel deep-orange accent-3 flow-text">Psicopata Americano</p>
			<img class="responsive-img center-align" src="../assets/images/f-americanp.jpg" alt="">
			<div class="card-panel deep-orange white-text">
				Descrição
			</div>
		</div>
	</div>
</body>
<script src="../assets/scripts/header.js"></script>
</html>