<!DOCTYPE html>
<html>

<head>
	<div id="head"></div>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fatecflix</title>
</head>

<body class="grey darken-3">
	<div id="header"></div>
	<div class="container">
		<br/>
		<img class="responsive-img" src="Imagens/FATEC.png" alt="">
		<br/>
		<div class="card-panel white">
			<div class="card-panel orange accent-3 flow-text">π</div>
			<img class="responsive-img" src="../assets/images/f-pi.jpg" alt="">
			<div class="card-panel orange accent-1">
				Pi (estilizado como π) é um filme de ficção científica e suspense dos Estados Unidos de 1998, realizado por Darren Aronofsky. É o primeiro filme a ser realizado por este e também tendo dado o início de sua parceria com o músico britânico Clint Mansell.
			</div>
		</div>
	</div>
</body>
<script src="../assets/scripts/header.js"></script>
</html>